<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" backupGlobals="false"
         backupStaticAttributes="false" cacheResult="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>./src</file>
            <file>./vendor</file>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
